<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN DOC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="{{ url_for('static', filename='myscripts.js') }}"></script>
</head>
<body>
    <p>SOME RANDOM TEXT WHICH MUST REMIAN AFTER THE PAGE HAS BEEN INJECTED WITH SOME RANDOM INFO</p>
        <label for="Sname">Server:</label><br>
        <input type="text" id="Sname" name="Sname"><br>
        <label for="ticketID">Ticket Id:</label><br>
        <input type="text" id="ticketID" name="ticketID">
        <button type="submit" onclick="testingFunc()">Submit</button>

    <h1 id="dynamic container">hello</h1>
</body>
</html>